.footer {
    display: flex;

    min-height: 350px;
}

.footer__columns {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    width: 90%;

    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__autor {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
}

.footer__column-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
}

.footer__column-links {
    padding-top: 20px;
    padding-bottom: 16px;
}

.footer__column-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
}

.footer__social-icon {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
}

.footer__social-icon::before {
    content: '';
    margin-right: 26px;
}

.footer__social-icon_type_fb {
    background-image: url(../../images/facebook_color_white.svg);
}

.footer__social-icon_type_vk {
    background-image: url(../../images/vk_color_white.svg);
}

.footer__social-icon_type_inst {
    background-image: url(../../images/instagram_color_white.svg);
}