.header {
    position: relative;
    display: flex;

    padding-left: 64px;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
}

.header__title {
    width: 730px;

    margin: auto 0;

    font-size: 102px;
    font-weight: 700;
    line-height: 96px;

    z-index: 3;
}

.header__subtitle {
    position: absolute;
    bottom: 30px;

    width: 388px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    
    z-index: 3;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    
    z-index: 3;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 765px;
    height: 608px;

    z-index: 2;
}

.header__square-pic {
    position: absolute;
    right: 0;
    top: 64px;

    height: 568px;
    width: 568px;

    background-color: #2f80ed;

    z-index: 1;
}