.two-columns {
    display: flex;
    justify-content: space-between;

    width: 80%;

    margin: auto;
}

.two-columns__brief {
    width: 175px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;

    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.two-columns__span-accent {
    display: block;
    padding: 30px 0;
}

.two-columns__strong {
    font-weight: 700;
}